allow servicemanager init:dir search;
allow servicemanager init:file read;
allow servicemanager init:file open;
allow servicemanager init:process getattr;
