on post-fs
    # Turn on swap
    swapon_all /fstab.mt8127

    # Swap in only 1 page at a time
    write /proc/sys/vm/page-cluster 0

on post-fs-data
    # /dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2
 
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

    # GPS
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
    chmod 0660 /dev/stpgps

    # WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi 
    chown wifi wifi /data/misc/wifi

    # FM Radio device node
    chmod 0660 /dev/fm
    chown system media /dev/fm

    # Volume key swapping based on rotation orientation
    chmod 0640 /dev/mtk-kpd
    chown root audio /dev/mtk-kpd

    # Char device for BT 3.0 HS
    mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

on boot
    export SECONDARY_STORAGE_USB /storage/usbotg
    insmod /system/lib/modules/ufsd.ko

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service wmtLoader /system/bin/wmt_loader
    user root
    group root
    class main
    oneshot

service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user system
    group system
    class core

service amzn_drmprov /system/bin/amzn_drmprov_check
	class main
	user root
	group system
	oneshot

on property:sys.boot_completed=1
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 700
    write /sys/kernel/mm/ksm/run 1

# Turn on/off UART kernel log
on property:persist.sys.uart.klog.enable=y
	write /sys/mtuart/conse 1

on property:persist.sys.uart.klog.enable=n
	write /sys/mtuart/conse 0

service rpmb_svc /system/bin/rpmb_svc
	class main
	user root
	group root
	disabled

on property:ro.boot.rpmb_state=1
	start rpmb_svc
